body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin: 0;
  }
  
  blockquote {
    background-color: #f4f4f4;
    border-left: 4px solid #333;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center
  